@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    height:100%;
    background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
    font-family: "Open Sans";
}

nav {
    max-width: 1100px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 20px 0;
}

nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
}

table {
    font-family: "Open Sans";
    border-color: indigo;
}

table thead {
    font-weight: bold;
}
table td {
    border-color: indigo;
}

footer {
    padding: 5px;
    font-family: "Open Sans";
    color: rgba(0, 35, 122, 0.5);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    bottom: 0px;
    width: 95%;
}

footer:hover {
    color: indigo;
}

h2 {
    font-family: "Open Sans";
}

strong {
    color: darkred;
}

.about-body {
    max-width: 80%;
    margin: auto;
}

.about-image {
    width: 30%;
    height: 30%;
    float: left;
    padding: 20px;
}

.about-us {
    display: table-cell;
    text-align: justify;
    text-justify: auto;
}