<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Products List</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>

<body>
<p th:replace="~{fragments/menu :: menuFragment}"></p>

<table th:align="center" th:border="1" th:cellpadding="5">
    <thead>
    <tr>
        <td>-</td>
        <td>nazwa art.</td>
        <td>opis</td>
        <td>cena/szt.</td>
        <td>kup</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td><a th:href="@{'/allProducts/' + ${product.name}}">Details</a></td>
        <td th:text="${product.name}">Name</td>
        <td><span th:text="${product.description}">Description</span></td>
        <td><span th:text="${product.price}">Price</span></td>
        <td>
            <form th:action="@{/order}" method="post">
                <input type="number" name="quantity" required>
                <input type="submit" value="do koszyka">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<footer th:replace="~{fragments/footer :: footerFragment}">Footer</footer>

</body>
</html>