<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Products List</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>

<script type="text/javascript">
    function show_alert() {
        let number = document.getElementsByClassName("quantityInBasket");
        let button = document.getElementsByClassName("submit");
        let quantity = "";
        for (let i = 0; i < number.length; i++) {
            if (number[i].value > 0) {
                quantity = number[i].value;
            }
        }
        alert("Dodano " + quantity + " szt. do koszyka")
    }
</script>

<body>
<p th:replace="~{fragments/menu :: menuFragment}"></p>

<h2 th:align="center">Tylko teraz super obniżki! <br/></h2>
<h3 th:align="center">
<strong>-5%</strong> przy zakupach za min. 200 zł<br/>
<strong>-10%</strong> przy zakupach za min. 500 zł
</h3>
<h5 th:align="center">Promocja trwa tylko do końca dekady</h5>

<table th:align="center" th:border="1" th:cellpadding="5">
    <thead>
    <tr>
        <td>-</td>
        <td>nazwa art.</td>
        <td>opis</td>
        <td>cena/szt.</td>
        <td>kup</td>
        <td>dostępność</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td><a th:href="@{'/allProducts/' + ${product.name}}">info</a></td>
        <td th:text="${product.name}">Name</td>
        <td><span th:text="${product.description}">Description</span></td>
        <td><span th:text="${product.price}">Price</span></td>
        <td>
            <form th:action="@{'/order/' + ${product.name}}" th:object="${item}" method="post">
                <input class="quantityInBasket" type="number" name="quantityInBasket" min="1" step="1" th:max="${product.getQuantityInStock()}" required>
                <input class="submit" type="submit" value="do koszyka" onclick="show_alert()">
            </form>
        </td>
        <td><span th:text="${product.availability}"></span></td>
    </tr>
    </tbody>
</table>

<footer th:replace="~{fragments/footer :: footerFragment}">Footer</footer>

</body>
</html>