<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products List</title>
</head>
<body>
<table th:align="center" border="1">
    <thead>
    <tr>
        <td>nazwa art.</td>
        <td>opis</td>
        <td>cena/szt.</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td><span th:text="${product.name}">Name</span></td>
        <td><span th:text="${product.description}">Description</span></td>
        <td><span th:text="${product.price}">Price</span></td>
    </tr>
    </tbody>
</table>

</body>
</html>